body {
  /* background: rgb(159,106,214); */
  background-image: linear-gradient(rgba(126,113,245,1), rgba(159,106,214,1));
  background-size: 100%;
  background-attachment: fixed;
  font-family: 'Roboto Slab', serif;

}

.container {
  background-color: #FFFCEF;
  text-align: center;
  /* margin: 0 auto; */
  width: 75%;
  /* margin: 50px 100px; */
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 2px solid #77838D;
  box-shadow: 1px 1px 0px #C7D0D8,
  2px 2px 0px #C7D0D8,
  3px 3px 0px #C7D0D8,
  4px 4px 0px #C7D0D8,
  5px 5px 0px #C7D0D8,
  6px 6px 0px #C7D0D8;
  margin-bottom: 80px;
}

.logo-container {
  text-align: center;
  margin: 0 auto;
}

.moodtrack-logo {
  height: 20vh;
}

.brain-icon {
  height: 60px;
}

.spotify-logo {
  height: 50px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: -10px;
}

h1 {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-size: 3vh;
}

.page-title {
  margin-top: 40px;
  font-size: 3vh;
}

.loading-title {
  color: white;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin-top: 50px;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 

.moodtrack-logo-small {
  height: 150px;
  margin-bottom: -30px;

}

.search-button {
  background-color: #8C52FF;
  color: white;
  font-family: 'Roboto Slab', serif;
  font-size: 2vh;
  text-align: center; 
  line-height: 30px;
  padding: 10px;
  width: 20vh;
  border-radius: 20px;
  border: none;
  margin-bottom: 50px;
  margin-top: 20px;
}

span.emojis {
  font-size: 35px;
  /* margin-right: 20px; */
}

h2 {
  margin-bottom: 40px;
}

h4 {
  margin-top: 50px;
}

.spotify-player {
  margin: 0 auto;
  width: 70%;
  /* padding-left: 300px;
  padding-right: 300px; */
} 

.logout-button {
  background-color: transparent;
  color: white;
  font-family: 'Roboto Slab', serif;
  font-size: 2vh;
  text-align: center; 
  position: absolute;
  right: 0;
  top: 0;
  margin: 20px;
  /* border-radius: 20px; */
  border: none;
  margin-bottom: -300px;
  /* margin-bottom: 50px; */
}

.album-image {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 20vh;
}